body {
  margin: 0;
  padding: 0;
  background-color: black;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

@font-face {
  font-family: 'Font1';
  src: url('./assets/fonts/Heathergreen.otf') format('opentype');
}

.base-wrapper{
  margin: 0;
  padding: 0;
  background-color: transparent; /* Changed from black */
  min-height: 100vh;
}
.top-container {
  background-color: transparent; /* Changed from black */
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 25px;
}

.bottom-container{
  display: flex;
  height: 635px;
  width: 100%;
  background-color: transparent !important; /* Add this */
}
.about{
  background-color: transparent; /* Changed from black */
  height: 635px;
  width: 50%;
}

.aboutimg{
  background-color: transparent; /* Changed from black */
  height: 635px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Pimage{
  height: 266px;
  width: 266px;
  margin-top: -36px;

}

.line1{
   font-family: 'Font1', sans-serif;
  margin-top: 20%;
  margin-left: 200px;
    font-size: 60px;

}

.line2{
     font-family: 'Font1', sans-serif;
   margin-left: 200px;
   font-size: 150px;
   margin-top: -50px;

}

.line3{
     font-family: 'Font1', sans-serif;
  margin-top: -30px;
  margin-left: 200px;
color: rgb(189, 189, 189);

}

.txtclr{
 color: rgb(236, 236, 236);
}

.optns{
  color: aliceblue;
  margin-right: 50px;
font-size: 30px;
font-family: 'Font1', sans-serif;
}


/* Stars background - ADD ONLY THESE LINES */
.stars-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

.star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
}